/* 引入主题颜色 */
@import "theme.rasi"

/* ============= CONFIG ============= */
configuration {
    modi:           "drun";
    show-icons:     false;
    /* 可选：禁用历史记录以更“干净” */
    // sort:        false;
    // disable-history: true;
}

window {
    background-color: @main-bg;
    width: inherit;
    height: inherit;
    border-radius: 8px 8px 0 0;
}

inputbar {
    background-color: @bar-bg;
    color: @main-fg;
    padding: 8px;
    border-radius: 8px 8px 0 0;
    children: [prompt, entry];
}

prompt {
    background-color: transparent;
    color: @main-fg;
    margin-right: 8px;
    font-weight: bold;
}

entry {
    background-color: transparent;
    width: inherit;
    placeholder: " 📋 Search  Clipboard ";
}

listview {
    padding: 4px 0;
    spacing: 2px;
    margin: 0;
    border-radius: 0 0 8px 8px;
}

element {
    orientation: horizontal;
    color: @main-fg;
    border-radius: 6px;
}

element normal.normal {
    background-color:           inherit;
    text-color:                 inherit;
}

element normal.urgent {
    background-color:           inherit;
    text-color:                 inherit;
}

element normal.active {
    background-color:           inherit;
    text-color:                 inherit;
}

element-text selected,
element selected.normal {
    background-color:           @active-bg;
    text-color:                 inherit;
}

element selected.urgent {
    background-color:           inherit;
    text-color:                 inherit;
}

element selected.active {
    background-color:           inherit;
    text-color:                 inherit;
}

element alternate.normal {
    background-color:           inherit;
    text-color:                 inherit;
}

element alternate.urgent {
    background-color:           inherit;
    text-color:                 @main-fg;
}

element alternate.active {
    background-color:           inherit;
    text-color:                 inherit;
}

element-icon {
    background-color:           transparent;
    text-color:                 inherit;
    size:                       32px;
    cursor:                     inherit;
}

element-text {
    background-color:           transparent;
    text-color:                 @main-fg;
    cursor:                     inherit;
    vertical-align:             0.5;
    horizontal-align:           0;
}
