environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland;xcb"
  DISPLAY ":1"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "qt5ct"
  QT_QPA_PLATFORMTHEME_QT6 "qt6ct"
  TERMINAL "kitty"
  XCURSOR_THEME "Bibata-Modern-Classic"
  XCURSOR_SIZE "24"
}
