layer-rule {
    match namespace="waybar"

    // Properties that apply continuously.
    opacity 0.9
    block-out-from "screencast"

    place-within-backdrop true
    shadow {
        off
    }
}

layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}
