@define-color bar-bg rgba(0, 0, 0, 0.7);
@define-color main-bg #51576d;
@define-color main-fg #c6d0f5; /* ← 浅灰白文字 */

@define-color wb-act-bg #ca9ee6;
@define-color wb-act-fg #303446;

@define-color wb-hvr-bg #ef9f76;
@define-color wb-hvr-fg #303446;

@define-color wb-color #c6d0f5;
@define-color wb-act-color #303446;
@define-color wb-hvr-color #303446;
