#lock {
    background-image: url("/home/falser/.config/wlogout/icons/lock.svg");
}

#logout {
    background-image: url("/home/falser/.config/wlogout/icons/logout.svg");
}

#suspend {
    background-image: url("/home/falser/.config/wlogout/icons/suspend.svg");
}

#hibernate {
    background-image: url("/home/falser/.config/wlogout/icons/hibernate.svg");
}

#shutdown {
    background-image: url("/home/falser/.config/wlogout/icons/shutdown.svg");
}

#reboot {
    background-image: url("/home/falser/.config/wlogout/icons/reboot.svg");
}
