@define-color bar-bg rgba(0, 0, 0, 0.7);
@define-color main-bg #28344a;
@define-color main-fg #a9b1d6; /* ← 浅蓝灰文字 */

@define-color wb-act-bg #3d59a1;
@define-color wb-act-fg #1a1b26;

@define-color wb-hvr-bg #bb9af7;
@define-color wb-hvr-fg #1a1b26;

@define-color wb-color #a9b1d6;
@define-color wb-act-color #1a1b26;
@define-color wb-hvr-color #1a1b26;
