@define-color bar-bg rgba(0, 0, 0, 0.7);
@define-color main-bg #313244;
@define-color main-fg #cdd6f4; /* ← 浅色文字 */

@define-color wb-act-bg #cba6f7;
@define-color wb-act-fg #1e1e2e;

@define-color wb-hvr-bg #fab387;
@define-color wb-hvr-fg #1e1e2e;

@define-color wb-color #cdd6f4;
@define-color wb-act-color #1e1e2e;
@define-color wb-hvr-color #1e1e2e;
